@import 'vars';
@import 'header';
@import 'footer';
body{
    overflow-x: hidden;
}
#avion{
    position: absolute;
    top:500px;
    right:100%;
    width: 270px;
    //height: 40px;
    //background-color: red;
    z-index: 10;
}
/* Classes */
.full{
    width: 100%;
    max-width: 100%;
}